header {
    padding: 5px;
    padding-left: 20px;
    margin: auto;
}

h3 {
    padding-left: 20px;
}

body {
    background-color: rgb(2, 0, 35);
    color: white;
}

.card {
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

img {
    padding-right: 15px;
}