html {
    background-color: #121212;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 10px;
    padding-left: 20px;
    margin: auto;
    background-color: #121212;
}

footer {
    padding: 20px;
    background-color: #1e1e1e;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin-top: 64px;
    margin-bottom: 64px;
}

.search {
    display: flex;
    padding: 2px;
    background-color: #303134;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: rgb(255, 255, 255);
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.row-between {
    display: flex;
    justify-content: space-between;
}

h4 {
    padding-left: 20px;
}

body {
    background-color: #121212 !important;
    color: white !important;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.list {
    padding: 20px;
}

.titleAudiovisuales {
    padding-left: 20px;
}

.listAudiovisuales {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.listTemporada {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.titlePerfil {
    font-size: x-large;
}

.width {
    width: 100%;
}

.height {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.headerMedia {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.itemsHeaderMedia {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.item {
    padding: 5px;
}

.rounded {
    border-radius: 0.25rem;
}

.roundedPerfil {
    border-radius: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/* Tabs de Bootstrap */
.nav-tabs {
    border: none !important;
}

.nav-link.active {
    background-color: transparent !important;
    border: 2px solid transparent !important;
    border-bottom-color: red !important;
}

.nav-link {
    color: #fff !important;
    border: none !important;
    transition: none !important;
}
/* Fin tabs de Bootstrap */

textarea {
    background-color: #303134 !important;
    color: #fff;
    border-radius: 0.25rem;
    padding: 10px;
    width: 100%;
    resize: both !important;
}

textarea:focus {
    outline: none;
}

.background2 {
    background-color: #1e1e1e !important;
}

input {
    background-color: #303134 !important;
    color: #fff;
    width: 100%;
    border-radius: 0.25rem !important;
}

a {
    color: #fff !important;
    text-decoration: none !important;
}

.v-application p a {
    color: #0dcaf0 !important;
}

.color-a {
    color: #0dcaf0 !important;
}

.title-color {
    color: #0dcaf0;
}

.v-select__selections input {
    display: none;
}

.v-select__selection--comma {
    overflow: visible !important;
}

.v-list-item__content {
    overflow: visible !important;
}

.contenedor {
    position: relative;
    white-space: initial;
}

.capa {
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-weight: bold;
}

.p-letra {
    font-size: 13px;
}

.content-inicio {
    width: 55%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.home-title {
    font-size: 2.3em;
    font-weight: 300;
}

.modal-backdrop
{
    opacity: 0.8 !important;
}

.width-platforms {
    width: 30%;
}

.width-info {
    width: 70%;
}

.list-capitulos {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-capitulos {
    display: flex;
    justify-content: space-between;
}

.responsive-header-visibility {
    display: none;
}

@media screen and (max-width: 633px) {
    .content {
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .row-between {
        flex-direction: column;
    }

    .width-platforms {
        width: 100%;
    }

    .width-info {
        width: 100%;
    }

    .headerMedia {
        flex-direction: column;
    }

    .itemsHeaderMedia {
        align-items: start;
        flex-direction: column;
    }

    .item {
        font-size: 14px;
    }

    .aside-visibility {
        display: none;
    }

    .responsive-header-visibility {
        display: block;
    }
}

@media screen and (max-width: 790px) {
    .header-capitulos {
        flex-direction: column;
        align-items: start;
    }

    .v-text-field__details {
        display: none !important;
    }

    .listTemporada {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 970px) {
    .list-capitulos {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .item {
        font-size: 14px;
    }
}
